.about-box{
        display:flex;
}

.about-img-contain{
    width: 40%;
    margin-bottom: 50px;
    img{
        -webkit-animation: imgGlow 1s ease-in-out infinite alternate;
        -moz-animation: imgGlow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
        box-shadow: -20px -20px 50px #ff069f77;
        transition: all 0.5s;
        z-index: -2;
        border-radius: 45%;
        margin-top: 20px;
    }

}

.about-text-contain{
    width: 60%;
    padding:50px 70px 0px 0px;
    
    button{
        width:100%;
        margin:5px;
        margin-left: 0;
        text-transform: uppercase;
        border-radius: 50px;
        margin: 20px 0;
    }

}

.about-me{
    background: #22022c;
    background:linear-gradient(40deg, rgb(48, 6, 46) 48%, rgb(0, 0, 0) 97%);
    margin: 20px;
    
    // border-radius: 50px;
    // border:10px solid ;
    // border: linear-gradient(40deg, rgba(27,1,19,1) 48%, rgba(129,41,137,1) 97%);
    
    .wrapper{
        
        h2 {

            margin:0;
            padding-top:40px;
        }
        p{
            z-index: 2;
        }
    }
}



@media (max-width:800px){
    .about-box{
        display: grid;
    }
    .about-text-contain{
        width:100%;
        padding:0;
    }
    .about-img-contain{
        text-align: center;
        width: 100%;
        img{
            max-width:300px;
        }
    }
}