.about-box{
        display:flex;
}

.about-img-contain{
    width: 20%;
    img{
        -webkit-animation: imgGlow 1s ease-in-out infinite alternate;
        -moz-animation: imgGlow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
        box-shadow: 0px 0px 40px #ff069f77;
        transition: all 0.5s;
    }

}

.about-text-contain{
    padding-left: 40px;
    width: 80%;

}

.about-me{
    background: rgba(128, 0, 128, 0.404);
    .wrapper{
        h2 {
            margin-left: 50%;
            padding-top:20px
        }
    }
}