.about-box{
        display:flex;
}

.about-img-contain{
    width: 40%;
    margin-bottom: 20px;
    img{
        -webkit-animation: imgGlow 1s ease-in-out infinite alternate;
        -moz-animation: imgGlow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
        box-shadow: 0px 0px 40px #ff069f77;
        transition: all 0.5s;
    }

}

.about-text-contain{
    width: 60%;
    padding-right: 20px;

}

.about-me{
    background: #22022c;
    background:linear-gradient(40deg, rgb(48, 6, 46) 48%, rgb(0, 0, 0) 97%);
    margin: 20px;
    // border-radius: 50px;
    // border:10px solid ;
    // border: linear-gradient(40deg, rgba(27,1,19,1) 48%, rgba(129,41,137,1) 97%);
    
    .wrapper{
        
        h2 {
            padding-top:20px;
            margin:0;
        }
    }
}
