//-------------------------------header glow animation-----------------------------------------//
@-webkit-keyframes glow{
  from {
    text-shadow: 0 0 10px rgb(199, 33, 111), 0 0 20px rgb(238, 39, 65), 0 0 30px #ee0b7c, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px rgb(241, 150, 150), 0 0 30px #f77272, 0 0 40px #ff4db5, 0 0 50px #f10bb8, 0 0 60px #cd4dff, 0 0 70px #c74dff, 0 0 80px #e14dff;
  }
}

@-webkit-keyframes imgGlow{
  from {
    box-shadow: 0 0 10px rgb(199, 33, 111), 0 0 20px rgb(238, 39, 65), 0 0 30px #ee0b7c, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    box-shadow: 0 0 20px rgb(241, 150, 150), 0 0 30px #f77272, 0 0 40px #ff4db5, 0 0 50px #f10bb8, 0 0 60px #cd4dff, 0 0 70px #c74dff, 0 0 80px #e14dff;
  }
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}