.border-wrap {

  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #09000e71, rgba(247, 6, 247, 0.418));
  padding: 3px;

//   border-radius: 50px;
}

.border-wrap-reverse {

  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, rgba(247, 6, 247, 0.418), #09000e71);
  padding: 3px;

//   border-radius: 50px;
}