.social-nav{
    font-size: 3rem;
    padding:0;
    margin-top:0;
    display: flex;
    justify-content: space-around;
    
    li{
        pointer-events: auto;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;

        a{
            color:#ff2194;
            z-index: 2;   
        }
    }
}

.submit{
    display: flex;
    flex-direction: column;
    .email-entry{
        width: 100%;
        font-size: 0px;
        .entry{
            width: 50%;
            white-space: nowrap;
            font-size: 1.2rem;
        }
    }
}
form input {
    vertical-align:middle;
    height:35px; 
}
textarea{
    font-size: 1.2rem;
}

h3{
    font-size: 2rem;
}

.social-contain{
    text-align: center;
}
// .social-nav li:first-of-type{
//     margin-top: 0;
// }

.social-nav li:hover{
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
    transform: scale(1.5);
}
.social-nav li:focus {
    transform: scale(1.5);
}

.foot{
    text-align: center;
    margin:0;
    background: linear-gradient(40deg, #a50354 48%, #ff2194ec 97%);
    color: #fadfc6;
    p{
        margin: 0;
    }
}