/*
    font-family: 'Exo 2', sans-serif;

    font-family: 'Roboto', sans-serif;

    
*/

html{
    font-family: 'Roboto', sans-serif;
    color: #eebac9;
    background: #0c080b;
    font-size: 62.5%;
    line-height: 1.5;
}

.wrapper{
    max-width: 1040px;
    margin: 0 auto;
    width:75%;
}

li{
    list-style: none;
}

li a{
    color: #8c0881;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}