/*
    font-family: 'Exo 2', sans-serif;

    font-family: 'Roboto', sans-serif;

    
*/

html{
    font-family: 'Roboto', sans-serif;
    color: #eebac9;
    background: #13010d;
    font-size: 62.5%;
    line-height: 1.5;
    scroll-behavior: smooth;
}

.wrapper{
    margin: 0 auto;
    max-width: 1040px;
    width:75%;
}

li{
    list-style: none;
}

li a{
    color: #8c0881;
}

a {
    text-decoration: none;
    color:hotpink;
    font-family: 'Exo 2', sans-serif
}

img {
    width: 100%;
}
