
.hamburger i {
    position: absolute;
    top: 35px;
    left: 40px;
    font-size: 2.5rem;
    visibility: hidden;
    color:#fadfc6;
    font-size: 3rem;
}
.hamburger i:hover,
.hamburger i:active{
    color: #f5dee8e7;
}

.hamburger i:hover{
  cursor: pointer;
}


#menu
{
    position: absolute;
    width: 100vw;
    // margin: -100px 0 0 -50px;
    margin: 0;
    // background: linear-gradient(to top, #460546e7, #09000e);
    background: linear-gradient(138deg, #4e053e, #e3265f, #91226b, #47021f);
    background-size: 800% 800%;

    // -webkit-animation: menuAni 17s ease infinite;
    // -moz-animation: menuAni 17s ease infinite;
    // animation: menuAni 17s ease infinite;
    // list-style-type: none;
    // -webkit-font-smoothing: antialiased;
    // transform-origin: 0% 0%;
    // // transform: translate(-100%, 0);
    // transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    display: flex;
    transition: all 0.5s ease-in;
    justify-content: space-evenly;
    padding: 0;

    

}
@-webkit-keyframes menuAni {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
@-moz-keyframes menuAni {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}
@keyframes menuAni {
    0%{background-position:19% 0%}
    50%{background-position:82% 100%}
    100%{background-position:19% 0%}
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  transition: all 0.3s ease-in;
}
#menu li:hover{
  color: rgb(255, 255, 255);
  animation: neon 0.5s ease-in-out infinite alternate;
}



// #menu-toggle input:checked ~ ul
// {
//   transform: none;
// }

.top-nav{
    // padding-top:20px;
    position: fixed;
    z-index: 333;
    width: 100%;
    // border:2px solid red;
}

#menu a{
    margin: 0 20px;
}

@media(max-width:655px){
  #menu{
    visibility: hidden;
  }

  .hamburger i {
        visibility: visible;
        z-index:999;
    }


    #menu.active{
      visibility: visible !important;
      transition: all 1s ease;
        position: fixed;
        // background:$secondary-color;
        // text-align: center;
        display: block !important;
        width: 100%;
        top:0 !important;
        left:0; 
        z-index: 333; 
        padding: 0;
        text-align: center;
        
    }
}


@media(max-width:510px){
  #menu li{
    font-size: 1.5rem;
  }
   #menu{
    flex-direction: column;
    text-align: center;
    width: 410px;
  }

  #menu-toggle{
    left:0;
    // position: fixed;
  }
}

 
