// #menu-toggle
// {
//   display: block;
//   position: relative;
//   top: 50px;
//   left: 33px;
  
//   z-index: 2;
  
//   -webkit-user-select: none;
//   user-select: none;

//   max-width: 90vw;
// }



// #menu-toggle a
// {
//   text-decoration: none;
//   color: #ffffff;
//   font-family: 'Exo 2', sans-serif;
//   transition: color 0.3s ease;
// }


// #menu-toggle input
// {
//     display: block;
//     width: 40px;
//     height: 32px;
//     position: absolute;
//     top: -7px;
//     left: 15px;

//     cursor: pointer;

//     opacity: 0; 
//     z-index: 3; 

//     -webkit-touch-callout: none;
// }

// #menu-toggle span
// {
//     display: block;
//     width: 33px;
//     height: 4px;
//     margin-bottom: 5px;
//     margin-left: 20px;
//     position: relative;
    
//     background: #ff2193;
//     border-radius: 3px;
    
//     z-index: 1;
    
//     transform-origin: 4px 0px;
    
//     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
//         background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
//         opacity 0.55s ease;
// }

// #menu-toggle span:first-child
// {
//   transform-origin: 0% 0%;
// }

// #menu-toggle span:nth-last-child(2)
// {
//   transform-origin: 0% 100%;
// }


// #menu-toggle input:checked ~ span
// {
//   opacity: 1;
//   transform: rotate(45deg) translate(-2px, -1px);
//   background: #ffffff;
// }

// #menu-toggle input:checked ~ span:nth-last-child(3)
// {
//   opacity: 0;
//   transform: rotate(0deg) scale(0.2, 0.2);
// }


// #menu-toggle input:checked ~ span:nth-last-child(2)
// {
//   transform: rotate(-45deg) translate(0, -1px);
// }
.hamburger i {
    position: absolute;
    top: 35px;
    left: 40px;
    font-size: 2.5rem;
    visibility: hidden;
    color:#fcfcfc;
}


#menu
{
    position: absolute;
    width: 100vw;
    // margin: -100px 0 0 -50px;
    margin: 0;
    background: #1a0218;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    // transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    display: flex;
    transition: all 0.5s ease-in;

    

}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  transition: all 0.3s ease-in;
}
#menu li:hover{
  color: rgb(255, 255, 255);
  animation: neon 0.5s ease-in-out infinite alternate;
}



// #menu-toggle input:checked ~ ul
// {
//   transform: none;
// }

.top-nav{
    // padding-top:20px;
    position: fixed;
    z-index: 333;
    width: 100%;
    // border:2px solid red;
}

#menu a{
    margin: 0 20px;
}

@media(max-width:655px){
  #menu{
    visibility: hidden;
  }

  .hamburger i {
        visibility: visible;
        z-index:999;
    }


    #menu.active{
      visibility: visible !important;
      transition: all 1s ease;
        position: fixed;
        // background:$secondary-color;
        // text-align: center;
        display: block !important;
        width: 100%;
        top:0 !important;
        left:0; 
        z-index: 333; 
        padding: 0;
        text-align: center;
    }
}


@media(max-width:510px){
  #menu li{
    font-size: 1.5rem;
  }
   #menu{
    flex-direction: column;
    text-align: center;
    width: 410px;
  }

  #menu-toggle{
    left:0;
    // position: fixed;
  }
}

 
