header{
    pointer-events: none;
    background-image: url(./assets/20200316_185428.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.dimmed{
    position: relative;

}

.dimmed:after {
    content: " ";
    background: rgba(38, 18, 126, 0.25);
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    // z-index: -1;
    

}

.heading {
    display: flex;
    padding-top:200px;
    z-index: 1;
}

.hero-text{
    text-align: center;
    margin: 0 auto;
    h3{
        color: #fadfc6;
        font-size: 4rem;
        -webkit-text-stroke: 1px #ffffff;
        text-shadow:3px 3px 4px  rgb(241, 150, 150);
        margin-top: 0;
    }
}



h1 {
    font-size: 8rem;
    color: #fadfc6;
    text-transform: uppercase;
    margin: 0;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    
}

.social-nav{
    font-size: 3.5rem;
    padding:0;
    
    li{
        margin:20px 0;
        pointer-events: auto;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        a{
            color:#aafff4;
            z-index: 2;
            
            
            
        }
    }
}

.social-nav li:hover {
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
    transform: scale(1.5);
}