header{
    // pointer-events: none;
    background-image: url(./assets/20200316_185428.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.dimmed{
    position: relative;

}

.dimmed:after {
    content: " ";
    background: rgba(38, 18, 126, 0.25);
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    // z-index: -1;
    

}

.heading {
    display: flex;
    z-index: 1;
    position: relative;
    flex-direction: column;
    .arrow{

        // text-align: center;
        // padding-top:20px;
        position: absolute;
        left: 50%;
        bottom: -100px;
        transform: translate(-50%, -50%);
        i{
            font-size: 6rem;
        }
    }
}
#more-arrows {
	width: 75px;
    height: 65px;
  
    &:hover {
        polygon {
            fill: #ffffff;
            transition: all .2s ease-out;
            &.arrow-bottom {
                transform: translateY(-18px);
            }
            &.arrow-top {
                transform: translateY(18px);
            }  
        }
    }

}
polygon {
    fill: #ff2193;
    transition: all .2s ease-out;
        
    &.arrow-middle {
        opacity: 0.75;
        }

        &.arrow-top {
        opacity: 0.5
        }
	 
}


.hero-text{
    text-align: center;
    margin: 0 auto;
    padding-top:200px;
    h3{
        color: #fadfc6;
        font-size: 4rem;
        -webkit-text-stroke: 1px #ffffff;
        text-shadow:3px 3px 4px  #f19696;
        margin-top: 0;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }
}



h1 {
    font-size: 7rem;
    color: #fadfc6;
    text-transform: uppercase;
    margin: 0;
    -webkit-text-stroke: 1px #ffffff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    
}

