header{
    pointer-events: none;
    background-image: url(./assets/20200316_185428.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.dimmed{
    position: relative;

}

.dimmed:after {
    content: " ";
    background: rgba(38, 18, 126, 0.25);
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    // z-index: -1;
    

}

.heading {
    display: flex;
    padding-top:200px;
    z-index: 1;
}

.hero-text{
    text-align: center;
    margin: 0 auto;
    h3{
        color: #ffaac5;
        font-size: 3rem;
    }
}



h1 {
    font-size: 8rem;
    color: #fadfc6;
    text-transform: uppercase;
    margin: 0;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    
}

.social-nav{
    font-size: 3rem;
    padding:0;
    
    li{
        margin:20px 0;
        pointer-events: auto;
        a{
            color:#ffaac5;
            z-index: 2;
            
        }
    }
}