.skill-list{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    li{
        display: flex;
        flex-direction: column;
        margin:20px;
        i{
            font-size:4rem;
        }
    }
}

.skills{
    background:linear-gradient(40deg, rgb(48, 6, 46) 48%, rgb(0, 0, 0) 97%);
    margin:20px;
}
