// .left-container,
// .right-container {
//     display:flex;
// }
.portfolio{
    background:linear-gradient(40deg, rgb(48, 6, 46) 48%, rgb(0, 0, 0) 97%);
    margin: 20px;
}

.left-container,
.right-container{
    display: flex;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-image:radial-gradient(40deg,  rgb(0, 0, 0)48%, rgb(48, 6, 46) 97%);
    align-items: center;
}

.right-container:last-of-type{
    border: none;
}

.built-with{
    display: flex;
    padding:0;
    flex-wrap: wrap;
    li{
        font-size: 1.6rem;
        padding: 10px 5px;
    }
}

.port-contain-left,
.port-contain-right{
    margin-top:20px;
}

.port-contain-right h3,
.port-contain-left h3,
.port-contain-mobile h3{
    font-size: 2rem;
    color: #ff2193;
}

.port-img-contain-mobile {
    width:40%;
    min-width: 120px;
}
// .port-contain-mobile:first-of-type{
//     width: 60%;
// }

.port-buttons{
    display:flex;
    margin-bottom: 20px;
    // flex-direction: column;
    button {
        width:100px;
        margin:5px;
        margin-left: 0;
        text-transform: uppercase;
        border-radius: 50px;
    }
}

@media(max-width:800px){
    .left-container,
    .right-container{
        flex-direction: column;
    }
    .port-contain-mobile{
        order:2;
    }
    .port-img-contain-mobile{
        width:100%;
        text-align: center;
        order:1;
        img{
            max-width: 200px;
        }
    }
    .port-contain-right{
        margin: 0;
    }
    .port-img-contain-right{
        text-align: center;
        img{
            max-width: 400px;
        }
    }
    .port-contain-left{
        order:2;
        margin:0;
    }
    .port-img-contain-left{
        order:1;
    }
}