/*
    font-family: 'Exo 2', sans-serif;

    font-family: 'Roboto', sans-serif;

    
*/
h1, 
h2, 
h3 {
    font-family: 'Exo 2', sans-serif;
}

h2 {
    font-size: 4rem;
    color: #F8188F;
}

p,
.skill-list li{
    font-size: 1.7rem;
}