html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1.5;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    font-family: 'Exo 2', sans-serif;

    font-family: 'Roboto', sans-serif;

    
*/
html {
  font-family: 'Roboto', sans-serif;
  color: #eebac9;
  background: #13010d;
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
  max-width: 1040px;
  width: 75%;
}

li {
  list-style: none;
}

li a {
  color: #8c0881;
}

a {
  text-decoration: none;
  color: hotpink;
  font-family: 'Exo 2', sans-serif;
}

img {
  width: 100%;
}

/*
    font-family: 'Exo 2', sans-serif;

    font-family: 'Roboto', sans-serif;

    
*/
h1,
h2,
h3 {
  font-family: 'Exo 2', sans-serif;
}

h2 {
  font-size: 4rem;
  color: #F8188F;
  padding-top: 20px;
  margin: 0;
  text-shadow: 2px 2px #ac085f;
}

p,
.skill-list li {
  font-size: 1.7rem;
}

button {
  height: 36px;
  border: none;
  background-color: #ff2193;
  font-size: 1.5rem;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #fc59ad;
  -webkit-box-shadow: 1px 1px  #ff2193;
          box-shadow: 1px 1px  #ff2193;
  color: white;
}

.border-wrap {
  padding: 1rem;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#09000e71), to(rgba(247, 6, 247, 0.418)));
  background: linear-gradient(to right, #09000e71, rgba(247, 6, 247, 0.418));
  padding: 3px;
}

.border-wrap-reverse {
  padding: 1rem;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(rgba(247, 6, 247, 0.418)), to(#09000e71));
  background: linear-gradient(to right, rgba(247, 6, 247, 0.418), #09000e71);
  padding: 3px;
}

header {
  background-image: url(./assets/Optimized-20200316_185428.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  background: rgba(38, 18, 126, 0.25);
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading .arrow {
  position: absolute;
  left: 50%;
  bottom: -100px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.heading .arrow i {
  font-size: 6rem;
}

#more-arrows {
  width: 75px;
  height: 65px;
}

#more-arrows:hover polygon {
  fill: #ff2193;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#more-arrows:hover polygon.arrow-bottom {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
  -webkit-transform: translateY(18px);
          transform: translateY(18px);
}

polygon {
  fill: #ffffff;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 3px 3px 4px #ffffff;
  stroke: 1px #ffb4ef;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
          animation: glow 1s ease-in-out infinite alternate;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

polygon.arrow-middle {
  opacity: 0.75;
}

polygon.arrow-top {
  opacity: 0.5;
}

.hero-text {
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 10px;
  background: #0f040b44;
  padding: 10px;
  border-radius: 25px;
}

.hero-text h3 {
  color: #fadfc6;
  font-size: 4rem;
  -webkit-text-stroke: 1px #ffffff;
  text-shadow: 3px 3px 4px  #f19696;
  margin-top: 0;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

h1 {
  font-size: 7rem;
  color: #fadfc6;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 680px) {
  h1 {
    font-size: 6rem;
  }
}

@media (max-width: 410px) {
  h1 {
    font-size: 5rem;
  }
  .hero-text h3 {
    font-size: 2.5rem;
  }
  .hero-text {
    padding-top: 150px;
  }
}

.about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-img-contain {
  width: 40%;
  margin-bottom: 20px;
}

.about-img-contain img {
  -webkit-animation: imgGlow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  -webkit-box-shadow: -20px -20px 50px #ff069f77;
          box-shadow: -20px -20px 50px #ff069f77;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -2;
  border-radius: 45%;
  margin-top: 20px;
}

.about-text-contain {
  width: 60%;
  padding: 20px 20px 0px 0px;
}

.about-text-contain button {
  width: 100%;
  margin: 5px;
  margin-left: 0;
  text-transform: uppercase;
  border-radius: 50px;
  margin: 20px 0;
}

.about-me {
  background: #22022c;
  background: linear-gradient(40deg, #30062e 48%, black 97%);
  margin: 20px;
}

.about-me .wrapper h2 {
  margin: 0;
}

.about-me .wrapper p {
  z-index: 2;
}

@media (max-width: 800px) {
  .about-box {
    display: -ms-grid;
    display: grid;
  }
  .about-text-contain {
    width: 100%;
    padding: 0;
  }
  .about-img-contain {
    text-align: center;
    width: 100%;
  }
  .about-img-contain img {
    max-width: 300px;
  }
}

.skill-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
  text-align: center;
}

.skill-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.skill-list li i {
  font-size: 4rem;
}

.skill-list li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #ff2193;
}

.skills {
  background: linear-gradient(40deg, black 30%, #30062e 97%);
  margin: 20px;
}

@media (max-width: 655px) {
  .skill-list {
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
  }
}

@media (max-width: 580px) {
  .skill-list {
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
  }
}

@media (max-width: 445px) {
  .skill-list {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

.portfolio {
  background: linear-gradient(40deg, #30062e 48%, black 97%);
  margin: 20px;
}

.left-container,
.right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  -o-border-image: radial-gradient(40deg, black 48%, #30062e 97%);
     border-image: radial-gradient(40deg, black 48%, #30062e 97%);
}

.right-container:last-of-type {
  border: none;
}

.built-with {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.built-with li {
  font-size: 1.6rem;
  padding: 10px 5px;
}

.port-contain-left,
.port-contain-right {
  margin-top: 20px;
}

.port-contain-right h3,
.port-contain-left h3,
.port-contain-mobile h3 {
  font-size: 2rem;
  color: #ff2193;
}

.port-img-contain-mobile {
  width: 40%;
  min-width: 120px;
}

.port-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.port-buttons button {
  width: 100px;
  margin: 5px;
  margin-left: 0;
  text-transform: uppercase;
  border-radius: 50px;
}

@media (max-width: 800px) {
  .left-container,
  .right-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .port-contain-mobile {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .port-img-contain-mobile {
    width: 100%;
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .port-img-contain-mobile img {
    max-width: 200px;
  }
  .port-contain-right {
    margin: 0;
  }
  .port-img-contain-right {
    text-align: center;
  }
  .port-img-contain-right img {
    max-width: 400px;
  }
  .port-contain-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
  }
  .port-img-contain-left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.social-nav {
  font-size: 3rem;
  padding: 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social-nav li {
  pointer-events: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.social-nav li a {
  color: #ff2194;
  z-index: 2;
}

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.submit .email-entry {
  width: 100%;
  font-size: 0px;
}

.submit .email-entry .entry {
  width: 50%;
  white-space: nowrap;
  font-size: 1.6rem;
  color: white;
  background: black;
  border: 2px solid #ff2194;
  padding: 5px;
}

.submit .email-entry .entry::-webkit-input-placeholder {
  font-style: italic;
}

.submit .email-entry .entry:-moz-placeholder {
  font-style: italic;
}

.submit .email-entry .entry::-moz-placeholder {
  font-style: italic;
}

.submit .email-entry .entry:-ms-input-placeholder {
  font-style: italic;
}

form input {
  vertical-align: middle;
  height: 35px;
}

textarea {
  font-size: 1.6rem;
  color: white;
  background: black;
  border: 2px solid #ff2194;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
}

textarea::-webkit-input-placeholder {
  font-style: italic;
}

textarea:-moz-placeholder {
  font-style: italic;
}

textarea::-moz-placeholder {
  font-style: italic;
}

textarea:-ms-input-placeholder {
  font-style: italic;
}

h3 {
  font-size: 2rem;
}

.social-contain {
  text-align: center;
  margin: 20px 0px;
}

.social-nav {
  margin: 20px 0px;
}

.social-nav li:hover {
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.social-nav li:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.foot {
  text-align: center;
  margin: 0;
  background: linear-gradient(40deg, #a50354 48%, #ff2194ec 97%);
  color: #fadfc6;
}

.foot p {
  margin: 0;
  padding: 5px 0px;
}

@media (max-width: 360px) {
  .submit .email-entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .submit .email-entry .entry {
    width: 100%;
  }
}

.hamburger i {
  position: absolute;
  top: 35px;
  left: 40px;
  font-size: 2.5rem;
  visibility: hidden;
  color: #F8188F;
  font-size: 3rem;
}

.hamburger i:hover,
.hamburger i:active {
  color: #f5dee8e7;
}

.hamburger i:hover {
  cursor: pointer;
}

#menu {
  position: absolute;
  width: 100vw;
  margin: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#460546e7), to(#09000e));
  background: linear-gradient(to top, #460546e7, #09000e);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#menu li:hover {
  color: white;
  -webkit-animation: neon 0.5s ease-in-out infinite alternate;
          animation: neon 0.5s ease-in-out infinite alternate;
}

.top-nav {
  position: fixed;
  z-index: 333;
  width: 100%;
}

#menu a {
  margin: 0 20px;
}

@media (max-width: 655px) {
  #menu {
    visibility: hidden;
  }
  .hamburger i {
    visibility: visible;
    z-index: 999;
  }
  #menu.active {
    visibility: visible !important;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    position: fixed;
    display: block !important;
    width: 100%;
    top: 0 !important;
    left: 0;
    z-index: 333;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 510px) {
  #menu li {
    font-size: 1.5rem;
  }
  #menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 410px;
  }
  #menu-toggle {
    left: 0;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #c7216f, 0 0 20px #ee2741, 0 0 30px #ee0b7c, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #f19696, 0 0 30px #f77272, 0 0 40px #ff4db5, 0 0 50px #f10bb8, 0 0 60px #cd4dff, 0 0 70px #c74dff, 0 0 80px #e14dff;
  }
}

@-webkit-keyframes imgGlow {
  from {
    -webkit-box-shadow: 0 0 10px #c7216f, 0 0 20px #ee2741, 0 0 30px #ee0b7c, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
            box-shadow: 0 0 10px #c7216f, 0 0 20px #ee2741, 0 0 30px #ee0b7c, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    -webkit-box-shadow: 0 0 20px #f19696, 0 0 30px #f77272, 0 0 40px #ff4db5, 0 0 50px #f10bb8, 0 0 60px #cd4dff, 0 0 70px #c74dff, 0 0 80px #e14dff;
            box-shadow: 0 0 20px #f19696, 0 0 30px #f77272, 0 0 40px #ff4db5, 0 0 50px #f10bb8, 0 0 60px #cd4dff, 0 0 70px #c74dff, 0 0 80px #e14dff;
  }
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

.glitch {
  color: white;
  font-size: 7rem;
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(94px, 9999px, 58px, 0);
  }
  5% {
    clip: rect(15px, 9999px, 57px, 0);
  }
  10% {
    clip: rect(50px, 9999px, 49px, 0);
  }
  15% {
    clip: rect(90px, 9999px, 6px, 0);
  }
  20% {
    clip: rect(59px, 9999px, 36px, 0);
  }
  25% {
    clip: rect(87px, 9999px, 61px, 0);
  }
  30% {
    clip: rect(81px, 9999px, 54px, 0);
  }
  35% {
    clip: rect(21px, 9999px, 76px, 0);
  }
  40% {
    clip: rect(47px, 9999px, 53px, 0);
  }
  45% {
    clip: rect(82px, 9999px, 28px, 0);
  }
  50% {
    clip: rect(78px, 9999px, 37px, 0);
  }
  55% {
    clip: rect(49px, 9999px, 77px, 0);
  }
  60% {
    clip: rect(75px, 9999px, 84px, 0);
  }
  65% {
    clip: rect(82px, 9999px, 67px, 0);
  }
  70% {
    clip: rect(63px, 9999px, 45px, 0);
  }
  75% {
    clip: rect(44px, 9999px, 30px, 0);
  }
  80% {
    clip: rect(67px, 9999px, 37px, 0);
  }
  85% {
    clip: rect(94px, 9999px, 34px, 0);
  }
  90% {
    clip: rect(74px, 9999px, 8px, 0);
  }
  95% {
    clip: rect(26px, 9999px, 64px, 0);
  }
  100% {
    clip: rect(82px, 9999px, 83px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(94px, 9999px, 58px, 0);
  }
  5% {
    clip: rect(15px, 9999px, 57px, 0);
  }
  10% {
    clip: rect(50px, 9999px, 49px, 0);
  }
  15% {
    clip: rect(90px, 9999px, 6px, 0);
  }
  20% {
    clip: rect(59px, 9999px, 36px, 0);
  }
  25% {
    clip: rect(87px, 9999px, 61px, 0);
  }
  30% {
    clip: rect(81px, 9999px, 54px, 0);
  }
  35% {
    clip: rect(21px, 9999px, 76px, 0);
  }
  40% {
    clip: rect(47px, 9999px, 53px, 0);
  }
  45% {
    clip: rect(82px, 9999px, 28px, 0);
  }
  50% {
    clip: rect(78px, 9999px, 37px, 0);
  }
  55% {
    clip: rect(49px, 9999px, 77px, 0);
  }
  60% {
    clip: rect(75px, 9999px, 84px, 0);
  }
  65% {
    clip: rect(82px, 9999px, 67px, 0);
  }
  70% {
    clip: rect(63px, 9999px, 45px, 0);
  }
  75% {
    clip: rect(44px, 9999px, 30px, 0);
  }
  80% {
    clip: rect(67px, 9999px, 37px, 0);
  }
  85% {
    clip: rect(94px, 9999px, 34px, 0);
  }
  90% {
    clip: rect(74px, 9999px, 8px, 0);
  }
  95% {
    clip: rect(26px, 9999px, 64px, 0);
  }
  100% {
    clip: rect(82px, 9999px, 83px, 0);
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: -1px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(19px, 9999px, 95px, 0);
  }
  5% {
    clip: rect(81px, 9999px, 98px, 0);
  }
  10% {
    clip: rect(3px, 9999px, 86px, 0);
  }
  15% {
    clip: rect(51px, 9999px, 92px, 0);
  }
  20% {
    clip: rect(98px, 9999px, 69px, 0);
  }
  25% {
    clip: rect(92px, 9999px, 65px, 0);
  }
  30% {
    clip: rect(68px, 9999px, 77px, 0);
  }
  35% {
    clip: rect(92px, 9999px, 14px, 0);
  }
  40% {
    clip: rect(90px, 9999px, 76px, 0);
  }
  45% {
    clip: rect(20px, 9999px, 19px, 0);
  }
  50% {
    clip: rect(33px, 9999px, 39px, 0);
  }
  55% {
    clip: rect(72px, 9999px, 44px, 0);
  }
  60% {
    clip: rect(11px, 9999px, 54px, 0);
  }
  65% {
    clip: rect(96px, 9999px, 24px, 0);
  }
  70% {
    clip: rect(23px, 9999px, 18px, 0);
  }
  75% {
    clip: rect(85px, 9999px, 63px, 0);
  }
  80% {
    clip: rect(20px, 9999px, 89px, 0);
  }
  85% {
    clip: rect(46px, 9999px, 85px, 0);
  }
  90% {
    clip: rect(51px, 9999px, 13px, 0);
  }
  95% {
    clip: rect(13px, 9999px, 74px, 0);
  }
  100% {
    clip: rect(4px, 9999px, 14px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(19px, 9999px, 95px, 0);
  }
  5% {
    clip: rect(81px, 9999px, 98px, 0);
  }
  10% {
    clip: rect(3px, 9999px, 86px, 0);
  }
  15% {
    clip: rect(51px, 9999px, 92px, 0);
  }
  20% {
    clip: rect(98px, 9999px, 69px, 0);
  }
  25% {
    clip: rect(92px, 9999px, 65px, 0);
  }
  30% {
    clip: rect(68px, 9999px, 77px, 0);
  }
  35% {
    clip: rect(92px, 9999px, 14px, 0);
  }
  40% {
    clip: rect(90px, 9999px, 76px, 0);
  }
  45% {
    clip: rect(20px, 9999px, 19px, 0);
  }
  50% {
    clip: rect(33px, 9999px, 39px, 0);
  }
  55% {
    clip: rect(72px, 9999px, 44px, 0);
  }
  60% {
    clip: rect(11px, 9999px, 54px, 0);
  }
  65% {
    clip: rect(96px, 9999px, 24px, 0);
  }
  70% {
    clip: rect(23px, 9999px, 18px, 0);
  }
  75% {
    clip: rect(85px, 9999px, 63px, 0);
  }
  80% {
    clip: rect(20px, 9999px, 89px, 0);
  }
  85% {
    clip: rect(46px, 9999px, 85px, 0);
  }
  90% {
    clip: rect(51px, 9999px, 13px, 0);
  }
  95% {
    clip: rect(13px, 9999px, 74px, 0);
  }
  100% {
    clip: rect(4px, 9999px, 14px, 0);
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@media (max-width: 680px) {
  .glitch {
    font-size: 6rem;
  }
}

@media (max-width: 410px) {
  .glitch {
    font-size: 5rem;
  }
}
